<p id="notice"><%= notice %></p>

<p>
  <b>Vendor:</b>
  <%= @store.vendor %>
</p>

<p>
  <b>Store url:</b>
  <%= @store.store_url %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
