<div class="content">
	<div class="page-header">
    <h3>Welcome to Shredset's blog.  Below are some thoughts from our team. Enjoy!</h3>
    </div>	

    	<h4>Launch</h4>  
    	
    	<p>December 13, 2012</p>

    	<p>Today we launched the beta version of Shredset, a comparison shopping app dedicated to downhill skis.  We provide an alternative to traditional ski eCommerce by giving you many choices in one place.  Everyone on team shredset has two things in common - we are graduates of a web development program in Chicago called <%= link_to 'The Starter League', 'http://www.starterleague.com' %> and we all love to shred.</p>

    	<p>Before The Starter League, which was only 12 weeks ago, we knew very little about web development.  After learning the basics of <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>, html/css and user experience, we were able to build the first draft of Shredset in approximately 4 weeks.  Rails is a growing and popular web devleopment framework for a programming language called Ruby, which was used to build other websites such as Github, Groupon, Shopify and Twitter.  In addition to Ruby on Rails, which is free and open source, we're using other tools such as Heroku, Twitter Bootstrap, Nokogiri and AvantLink in order to make Shredset a reality.</p>

    	<p>We're launching with over 1,000 models of skis on our site, aggregated daily from our merchant partners, which include <%= link_to "backcountry.com", "http://www.backcountry.com" %>, <%= link_to "evo.com", "http://www.evo.com" %> and <%= link_to "skis.com", "http://www.skis.com" %>.  Thank you to our partners - without them, Shredset would not be possible.</p>

    	<p>We're excited to ship an app that helps our fellow shredders save some time and cash.  Hope you enjoy it as much we enjoyed building it!</p>

    	<p>When in doubt, straighten 'em out.</p>

    	<p>-Pat and Brayden</p>
    	<p>	Follow them on Twitter <%= link_to "@pvihtelic", "http://www.twitter.com/pvihtelic" %> and <%= link_to "@braydencleary", "http://www.twitter.com/braydencleary" %> </p>

    	<h4>Optimal Brain Freeze</h4>

    	<p>December 10, 2012</p>

    	<p>A friend recently commented, “Skiing is like life.”  It’s a nice enough metaphor, open to interpretation, and arguably true.  Both involve trying and spectacular days.  Both can be weather or condition dependent.  Both are increasingly expensive.  At the time, I didn’t think to respond.  If  I could hit the reset button, I’d suggest that skiing is a “lazy susan” of experiences that push us to greatness.  The lazy susan reference is that circular, rotating platform in the table’s center, usually covered with sticky condiment jars.  Sometimes you spin to get what you need.  Sometimes, what’s before you IS what’s before you.  Now, replace the sticky jars with the following.  You have committed to a run, with no apparent exit, and what lies before you is above your comfort level.  You have no choice but to proceed.  Your humility is exercised.  You problem solve.  You get an incredible workout getting down.  In the end, your relief is outweighed by your satisfaction.  My point:  life has too many exits, so we often avoid pushing ourselves through hard but hardening moments.</p>   

		<p>Life is increasingly fast and disconnected from nature.  But, rotate the “skiing susan” further.  On the chairlift up, you marvel at the individual snowflakes landing on your glove.  You focus and enjoy their magic because they melt too quickly on the warm glove surface.  You absorb the panoramic view from the chair.  The chilly air hits your face as the chair jerks forward.  It’s quiet, and your sense of open soaring exceeds anything you’ve felt in a plane.</p>

		<p>It’s life again.  You are stuck in a car or at a desk.  A creative thought is forming, but a phone rings or a co-worker drops by to chat.  But, if you rotate the “skiing susan,” on the slopes, you have an unparalleled creativity chamber.  Consider the inspired solutions or breakthrough thoughts that come to you in the shower.  Skiing provides some of my clearest and most creative thinking.  Moreover, thinking and learning are even better when combined with movement.  I’ll skip the footnotes, but this is well researched.  Which brings me to my point:  skiing isn’t like life, skiing is better than life.</p>

		<p>-Kristin</p>

</div>