
<div class="row">
	<div class="content-left-home">
	    <h5 class="search-headline">Search Our Database of over <%= Inventory.all.count %> skis </h5>	

	    <%= form_tag skis_url, :method=>:get do %>
	    	<div class="field">
			    <%= collection_select(:ski, :gender, @ski_types, :ski_type, :ski_type, {}, :multiple => true) %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :gender, @genders, :gender, :gender, {}, :multiple => true) %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :ability_level, @ability_levels, :ability_level, :ability_level, {}, :multiple => true) %>
			</div>
			<div class="field">
			    <%= submit_tag "Search" %>
			</div>			
	    <% end %>
	</div>        

	<div class="span8">
		<div class="content-home-page">
			<div class="carousel slide span8" id="myCarousel">
				<div class="carousel-inner">
				  <div class="item active">
				        <ul class="thumbnails">
				            <li class="span1">
				                <div class="thumbnail">
				                    <img src="http://www.evo.com/imgp/1500/57940/291387/line-skis-sir-francis-bacon-skis-2013.jpg" alt="">
				                </div>
				            </li>
				            <li class="span1">
				                <div class="thumbnail">
				                    <img src="http://www.evo.com/imgp/1500/57859/297544/armada-jj-skis-2013-front.jpg" alt="">
				                </div>
				            </li>
				            <li class="span1">
				                <div class="thumbnail">
				                    <img src="http://www.evo.com/imgp/1500/58707/291752/salomon-rocker2-108-skis-2013-front.jpg" alt="">
				                </div>
				            </li>
				        </ul>
				  </div>
				  <div class="item">
				        <ul class="thumbnails">
				            <li class="span1">
				                <div class="thumbnail">
				                    <img src="http://www.evo.com/imgp/1500/57940/291387/line-skis-sir-francis-bacon-skis-2013.jpg" alt="">
				                </div>
				            </li>
				            <li class="span1">
				                <div class="thumbnail">
				                    <img src="http://www.evo.com/imgp/1500/57859/297544/armada-jj-skis-2013-front.jpg" alt="">
				                </div>
				            </li>
				            <li class="span1">
				                <div class="thumbnail">
				                    <img src="http://www.evo.com/imgp/1500/58707/291752/salomon-rocker2-108-skis-2013-front.jpg" alt="">
				                </div>
				            </li>
				        </ul>
				  </div>
				  </div>
				</div>
				<a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
				<a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
				</div>
			</div>	
		</div>
	</div>

</div>
