
<div class="row">
	<div class="content-left-home">
	    <h5 class="search-headline">Search Our Database of over <%= Inventory.all.count %> skis </h5>	

	    <%= form_tag do %>
	    	<div class="field">
			    <%= collection_select(:ski, :gender, @ski_types, :ski_type, :ski_type, {}, :multiple => true) %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :gender, @genders, :id, :gender, {}, :multiple => true) %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :ability_level, @ability_levels, :id, :ability_level, {}, :multiple => true) %>
			</div>
	    <% end %>
	</div>        

	<div class="span5">
		<div class="content-home-page">

			product pictures

		</div>
	</div>

</div>
