<div class="container">
	<div class="content">
		
		<h3>Size Guide.</h3>

		<h4>Our partners have great information to help you find the best ski.</h4>

		<h4>It isn't difficult, just read below.</h4> 

		<ol>
			<li><strong>Pay attention to waist width.</strong>  The ski waist width plays a big role in how the ski feels.  Generally, the wider the width of the ski, the more appropriate it is for powder conditions.  That being said, skis are continuing to go wider while still holding their own on the trail in groomed conditions.  Powder skis start at 110-115 mm and up.</li>

			<li><strong>Buy skis with a length somewhere between your chin and six inches above your head when standing up.</strong>  Get something on the shorter end of that range if you are just starting or already feel comfortable skiing that length.  Generally speaking, the longer the ski, the more badass you are.  Or the more you have to prove.</li>

			<li><strong>Rocker skis are all the buzz, but don't feel you need to get caught up 100% in the hype.</strong>  Fully rocker skis are great for certain situations, such as pulling a buttery turn in some deep powder, but our staff finds a fully rocker ski to be a little loose in groomed or icy conditions.  A great compromise growing in popularity among all ski manufacturers is using rocker in the tip and tail, with an almost flat or camber underfoot.</li>

			<li><strong>It is ok to choose skis based on design.</strong>  Whether you're riding a lift or shuffling with some skins, you'll be looking down at your skis, a lot.  You know everyone appreciates a sweet design, so if you find yourself deciding between two skis equally appropriate for your riding style, choose the pair that make people jealous.</li>
		</ol>
		
		<h4>Size Guide Resources:</h4>

		<ul>
			<li><%= link_to "Adult Skis - evo.com", "http://www.evo.com/how-to-choose-skis-size-chart-and-guide.aspx" %></li>
			<li><%= link_to "Adult Skis - backcountry.com", "http://www.backcountry.com/sc/alpine-ski-sizing-guide" %></li>
			<li><%= link_to "Youth Skis - evo.com", "http://www.evo.com/how-to-choose-youth-skis-size-chart-and-guide.aspx" %></li>
		</ul>
		
		<h4>Other Resources:</h4>
		
		<ul>
			<li><%= link_to "Buying Guide", "http://www.skis.com/buying-guides/buying-guides-lander,default,pg.html" %></li>
			<li><%= link_to "What is Rocker?", "http://www.evo.com/rocker-guide-what-is-rocker-and-why-does-it-matter.aspx" %></li>
		</ul>
	</div>
</div>

