<h1>Listing skis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ability level</th>
    <th>Description</th>
    <th>Gender</th>
    <th>Model year</th>
    <th>Rocker type</th>
    <th>Ski type</th>
    <th>Brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skis.each do |ski| %>
  <tr>
    <td><%= ski.name %></td>
    <td><%= ski.ability_level %></td>
    <td><%= ski.description %></td>
    <td><%= ski.gender %></td>
    <td><%= ski.model_year %></td>
    <td><%= ski.rocker_type %></td>
    <td><%= ski.ski_type %></td>
    <td><%= ski.brand_id %></td>
    <td><%= link_to 'Show', ski %></td>
    <td><%= link_to 'Edit', edit_ski_path(ski) %></td>
    <td><%= link_to 'Destroy', ski, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ski', new_ski_path %>
