<div class="content">

<div class="page-header">
    <h3>Comparison shopping for skis.</h3>        
</div>

<div class="row">
    <ul class="products">
    <% @skis.each do |ski| %>
            <li class="product-item">
            <%= link_to image_tag(ski.images.first.image_url, :class => "index-product-image"), ski_url(ski.id) %>
            <br />
            <ul class="product-details">
            <li class="product-details">
                <span class="product-title">
                <%= ski.brand.company %> <%= ski.name %> <%= ski.model_year %> </br>
                </span>
                <% @b = [] %>
                    <% ski.inventories.each do |inventory| %>
                        <% if !@b.include? inventory.store_id %>
                        <% @b.push(inventory.store_id) %>
                        <% end %>
                    <% end %>
                    Available at <%= @b.count %> 
                    <% if @b.count>1%> stores <% else %> store
                    <% end %>
                <% a = [] %>
                <% ski.inventories.each do |inventory| %>
                    <% a.push(inventory.price) %>
                    <% end %>
                    <% @lowest_price = a.sort { |x,y| x <=> y} %>
                    from $<%= @lowest_price.first %>
                </br>
                </li>
            </ul>
    <% end %>
    </ul>

</div>
</div>
<br />

<%= link_to 'New Ski', new_ski_path %>
