<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ski.name %>
</p>

<p>
  <b>Ability level:</b>
  <%= @ski.ability_level %>
</p>

<p>
  <b>Description:</b>
  <%= @ski.description %>
</p>

<p>
  <b>Gender:</b>
  <%= @ski.gender %>
</p>

<p>
  <b>Model year:</b>
  <%= @ski.model_year %>
</p>

<p>
  <b>Rocker type:</b>
  <%= @ski.rocker_type %>
</p>

<p>
  <b>Ski type:</b>
  <%= @ski.ski_type %>
</p>

<p>
  <b>Brand:</b>
  <%= @ski.brand_id %>
</p>

<div class="span4">
        <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <% @image.each do |image| %>
            <a> 
              <%= image_tag image.image_url %> 
            </a>
            
            <div class="carousel-caption">
              <p>Picture 1</p>
              <p> <%= link_to "add link here", skis_url %> </p>
            </div>
          </div>
          <div class="item">
            <a/>
              <%= image_tag image.image_url %>   
            </a>
            <% end %>
            <div class="carousel-caption">
              <p>Picture 2</p>
              <p> <%= link_to "add another link here", skis_url %> </p>
            </div>
            </div>
            <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
          </div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Stores</th>
      <th>Sizes Availabile</th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
      <% @s.each do |store| %>
        <tr>
        <td><%= store.vendor  %></td>
        <td>
        <% store.specs.each do |spec| %>
            <li>
              <%= spec.length %>
            </li>
        <% end %>
        </td>
        <td>
            <%= store.inventories.first.price %>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>

<p>
<%= link_to 'Edit', edit_ski_path(@ski) %> |
<%= link_to 'Back', skis_path %>
</p>