<div class="container">
  <div class="content">
          
  <p id="notice"><%= notice %></p>

        <div class="page-header show-page">
            <h2><%= @ski.brand.company %> <%= @ski.name %> <small> <%= @ski.gender %> | <%= @ski.model_year %> | <%= @ski.ski_type %></small></h2>
        </div>
        <div class="row">
          <div class="span4 offset2" id="span-for-show-carousel">
                <div class="carousel slide span4" id="myCarousel">
                  <div class="carousel-inner">
                            <% @image.each_with_index do |item_image, index| %>
                            <div class="<% if index == 0 %>item active<% else %>item<% end %>">
                                <%= link_to(image_tag(item_image.image_url, :class=>"ski-image"), item_image.image_url) %>
                            </div>
                            <% end %>
                  </div>
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
                <div>
                  <h5>Shred Score: <%= @reviews.first.average_review %> points</h5>
                  <h5>Data Points: <%= @reviews.first.number_of_reviews %></h5>
                </div>
          </div>
          <div class="span6">
            <h4>Network Shopping Data</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Stores</th>
                  <th>Sizes Availabile</th>
                  <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                  <% @ski.inventories.group_by(&:store).each do |store, s_inventories| %>
                    <tr>
                      <td><%= link_to store.vendor, s_inventories.first.product_url %></td>
                      <td><%= s_inventories.map(&:size_available).join(", ") %></td>
                      <td><%= number_to_currency(s_inventories.first.price) %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            <h4>Description</h4>
            <p><%= @ski.description %></p>
            <ul>
                  <li><strong>Ski Type: </strong><%= @ski.ski_type %></li>
                  <li><strong>Ability Level: </strong><%= @ski.ability_level %></li>
                  <li><strong>Rocker Type: </strong><%= @ski.rocker_type %></li>
            </ul>
          </br>
            <% if @spec.any? %>
            <h4>Manufacturer Specs</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Sizes (cm)</th>
                    <th>Turning Radius (m)</th>
                    <th>Tip Width (mm)</th>
                    <th>Waist Width (mm)</th>
                    <th>Tail Width (mm)</th>
                    <th>Individual Ski Weight (g)</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @spec.each do |spec| %>
                      <tr>
                      <td><%= spec.length %></td>
                      <td><%= spec.turning_radius %></td>
                      <td><%= spec.tip_width %></td>
                      <td><%= spec.waist_width %></td>
                      <td><%= spec.tail_width %></td>
                      <td><%= number_with_delimiter(spec.weight, :delimiter => ",") %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>    
            <% else %>
            <% end %>
          </div>
        </div>
  </div>
</div>