<p id="notice"><%= notice %></p>

<p>
  <b>Image url:</b>
  <%= @image.image_url %>
</p>

<p>
  <b>Ski:</b>
  <%= @image.ski_id %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
