
 <ul class="nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(skis_url) %>"><%= link_to "All Skis", skis_url %></li>
      <li class="<%= 'active' if current_page?(about_url) %>"><%= link_to "About", about_url %></li>
</ul>



<!-- 
  <input type="text" class="search-query" placeholder="search shredset">
</form> -->