
	    <%= form_tag skis_url, :method=>:get do %>
	    	<div class="field">
			    <%= collection_select(:ski, :ski_type, @ski_types.sort_by(&:ski_type), :ski_type, :ski_type, {}, :multiple => true, :class=>'chzn-select', :'data-placeholder' => "Enter Ski Type") %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :gender, @genders.sort_by(&:gender), :gender, :gender, {}, :multiple => true, :class=>'chzn-select', :'data-placeholder' => "Enter Gender/Youth") %>
			</div>
			<div class="field">
			    <%= collection_select(:brand, :company, @companies.sort_by(&:company), :company, :company, {}, :multiple => true, :class => "chzn-select", :'data-placeholder' => "Enter Brand") %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :name, @names.sort_by(&:name), :name, :name, {}, :multiple => true, :class => "chzn-select", :'data-placeholder' => "Enter Model") %>
			</div>
			<div class="field">
			    <%= collection_select(:price_range, :price_range, @price_ranges, :price_range, :price_range, {}, :multiple => true, :class => "chzn-select", :'data-placeholder' => "Enter Price Range") %>
			</div>
			<div class="field">
			    <%= collection_select(:ski, :model_year, @model_years.sort_by(&:model_year).reverse, :model_year, :model_year, {}, :multiple => true, :class => "chzn-select", :'data-placeholder' => "Enter Model Year") %>
			</div>
			<div class="field">
			    <%= submit_tag "Search", :class=>"btn" %>
			</div>			
	    <% end %>