<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "shredset" %></title>
    <meta name="shredset" content="">
    <meta name="shredset" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
         <a class="brand" href="/skis"></a>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ski Type
            <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#one">All</a>
                </li>
                <li>
                  <a href="#two">All Mountain</a>
                </li>
                <li>
                  <a href="#two">Big Mountain Freestyle</a>
                </li>
                <li>
                  <a href="#two">Powder</a>
                </li>
                <li>
                  <a href="#two">Park</a>
                </li>
                <li>
                  <a href="#two">Carve</a>
                </li>
              </ul>
           <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Gender
            <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
              <li>
                <a href="#one">Men's</a>
              </li>
              <li>
                <a href="#two">Women's</a>
              </li>
              </ul>
            <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Price
            <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
              <li>
                <a href="#one">$0-$250</a>
              </li>
              <li>
                <a href="#two">$250-$500</a>
              </li>
              <li>
                <a href="#two">$500-$750</a>
              </li>
              <li>
                <a href="#two">$750-$1,000</a>
              </li>
              <li>
                <a href="#two">$1,000+</a>
              </li>
              </ul>
            <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Brand
            <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
              <li>
                <a href="#one">4FRNT</a>
              </li>
              <li>
                <a href="#two">Armada</a>
              </li>
              <li>
                <a href="#two">Atomic</a>
              </li>
              <li>
                <a href="#two">Black Diamond</a>
              </li>
              <li>
                <a href="#two">Blizzard</a>
              </li>
              </ul>
            <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Size
            <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
              <li>
                <a href="#one">Length</a>
              </li>
              <li>
                <a href="#two">Width</a>
              </li>
              </ul>
            </ul>
          </li>
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="search shredset">
          </form>
        </ul>
      </div>     
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           
              <%= yield %>
            
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
